USE [master]
GO
/****** Object:  Database [Inventory]    Script Date: 04/08/2025 11:30:43 a. m. ******/
CREATE DATABASE [Inventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inventory', FILENAME = N'D:\SQL SERVER\MSSQL13.SQLEXPRESS\MSSQL\DATA\Inventory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Inventory_log', FILENAME = N'D:\SQL SERVER\MSSQL13.SQLEXPRESS\MSSQL\DATA\Inventory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventory]
GO
USE [Inventory]
GO
/****** Object:  Schema [Products]    Script Date: 04/08/2025 11:30:43 a. m. ******/
CREATE SCHEMA [Products]
GO
/****** Object:  Schema [Transactions]    Script Date: 04/08/2025 11:30:43 a. m. ******/
CREATE SCHEMA [Transactions]
GO
/****** Object:  Table [Products].[ProductCategories]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Products].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[Deleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Products].[Products]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Products].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Image] [varchar](max) NULL,
	[Price] [numeric](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Transactions].[TransactionProducts]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transactions].[TransactionProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [varchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [numeric](18, 2) NOT NULL,
	[TotalPrice] [numeric](18, 2) NOT NULL,
	[Deleted] [bit] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_TransactionProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Transactions].[Transactions]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transactions].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[TransactionTypeId] [int] NOT NULL,
	[TotalPrice] [numeric](18, 2) NOT NULL,
	[Detail] [varchar](max) NOT NULL,
	[Deleted] [bit] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Transactions].[TransactionTypes]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transactions].[TransactionTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NULL,
	[Deleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_TransactionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Products].[ProductCategories] ON 

INSERT [Products].[ProductCategories] ([Id], [Name], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (1, N'Electrodomésticos', 0, CAST(N'2025-08-02T00:00:00.000' AS DateTime), CAST(N'2025-08-02T00:00:00.000' AS DateTime))
INSERT [Products].[ProductCategories] ([Id], [Name], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (2, N'Comestibles', 0, CAST(N'2025-08-02T00:00:00.000' AS DateTime), CAST(N'2025-08-02T00:00:00.000' AS DateTime))
INSERT [Products].[ProductCategories] ([Id], [Name], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (3, N'Computación', 0, CAST(N'2025-08-02T00:00:00.000' AS DateTime), CAST(N'2025-08-02T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [Products].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [Products].[Products] ON 

INSERT [Products].[Products] ([Id], [Name], [Description], [Image], [Price], [Stock], [CategoryId], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (2, N'Refrigerador', N'Ninguna', N'', CAST(100.00 AS Numeric(18, 2)), 166, 1, 1, CAST(N'2025-08-02T16:25:32.000' AS DateTime), CAST(N'2025-08-03T21:30:56.280' AS DateTime))
INSERT [Products].[Products] ([Id], [Name], [Description], [Image], [Price], [Stock], [CategoryId], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (3, N'TV 32 Pulgadas', N'seminuevo', N'https://colineal.com/cdn/shop/files/7861191402546-2.webp?v=1753568475&width=1200', CAST(220.99 AS Numeric(18, 2)), 213, 1, 0, CAST(N'2025-08-02T16:19:01.600' AS DateTime), CAST(N'2025-08-04T11:01:59.837' AS DateTime))
INSERT [Products].[Products] ([Id], [Name], [Description], [Image], [Price], [Stock], [CategoryId], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (4, N'CPU', N'Ryxen 5', N'https://http2.mlstatic.com/D_NQ_NP_2X_617791-MEC73551547400_122023-F.webp', CAST(500.00 AS Numeric(18, 2)), 202, 3, 0, CAST(N'2025-08-03T21:01:08.010' AS DateTime), CAST(N'2025-08-04T11:20:38.943' AS DateTime))
SET IDENTITY_INSERT [Products].[Products] OFF
GO
SET IDENTITY_INSERT [Transactions].[TransactionProducts] ON 

INSERT [Transactions].[TransactionProducts] ([Id], [TransactionId], [ProductId], [ProductName], [Quantity], [UnitPrice], [TotalPrice], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (1, 9, 2, N'Pruebas', 6, CAST(200.00 AS Numeric(18, 2)), CAST(200.00 AS Numeric(18, 2)), 0, CAST(N'2025-08-03T00:31:15.820' AS DateTime), CAST(N'2025-08-03T00:31:15.820' AS DateTime))
INSERT [Transactions].[TransactionProducts] ([Id], [TransactionId], [ProductId], [ProductName], [Quantity], [UnitPrice], [TotalPrice], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (2, 10, 2, N'Pruebas', 10000, CAST(200.00 AS Numeric(18, 2)), CAST(200.00 AS Numeric(18, 2)), 0, CAST(N'2025-08-03T00:34:02.290' AS DateTime), CAST(N'2025-08-03T00:34:02.290' AS DateTime))
INSERT [Transactions].[TransactionProducts] ([Id], [TransactionId], [ProductId], [ProductName], [Quantity], [UnitPrice], [TotalPrice], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (3, 12, 3, N'TV 32 Pulgadas', 4, CAST(220.99 AS Numeric(18, 2)), CAST(883.96 AS Numeric(18, 2)), 0, CAST(N'2025-08-04T01:08:28.620' AS DateTime), CAST(N'2025-08-04T01:08:28.620' AS DateTime))
SET IDENTITY_INSERT [Transactions].[TransactionProducts] OFF
GO
SET IDENTITY_INSERT [Transactions].[Transactions] ON 

INSERT [Transactions].[Transactions] ([Id], [Date], [TransactionTypeId], [TotalPrice], [Detail], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (1, CAST(N'2025-08-03T05:02:14.770' AS DateTime), 1, CAST(200.00 AS Numeric(18, 2)), N'Prueba', 1, CAST(N'2025-08-03T00:04:21.507' AS DateTime), CAST(N'2025-08-03T00:04:21.507' AS DateTime))
INSERT [Transactions].[Transactions] ([Id], [Date], [TransactionTypeId], [TotalPrice], [Detail], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (2, CAST(N'2025-08-03T05:08:24.040' AS DateTime), 1, CAST(200.00 AS Numeric(18, 2)), N'Prueba', 1, CAST(N'2025-08-03T00:09:33.407' AS DateTime), CAST(N'2025-08-03T00:09:33.407' AS DateTime))
INSERT [Transactions].[Transactions] ([Id], [Date], [TransactionTypeId], [TotalPrice], [Detail], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (3, CAST(N'2025-08-03T05:08:24.040' AS DateTime), 1, CAST(200.00 AS Numeric(18, 2)), N'Prueba', 1, CAST(N'2025-08-03T00:11:16.273' AS DateTime), CAST(N'2025-08-03T00:11:16.273' AS DateTime))
SET IDENTITY_INSERT [Transactions].[Transactions] OFF
GO
SET IDENTITY_INSERT [Transactions].[TransactionTypes] ON 

INSERT [Transactions].[TransactionTypes] ([Id], [Name], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (1, N'Compra', 0, CAST(N'2025-07-31T00:00:00.000' AS DateTime), CAST(N'2025-07-31T00:00:00.000' AS DateTime))
INSERT [Transactions].[TransactionTypes] ([Id], [Name], [Deleted], [CreatedAt], [UpdatedAt]) VALUES (2, N'Venta', 0, CAST(N'2025-07-31T00:00:00.000' AS DateTime), CAST(N'2025-07-31T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [Transactions].[TransactionTypes] OFF
GO
ALTER TABLE [Products].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories] FOREIGN KEY([CategoryId])
REFERENCES [Products].[ProductCategories] ([Id])
GO
ALTER TABLE [Products].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories]
GO
ALTER TABLE [Transactions].[TransactionProducts]  WITH CHECK ADD  CONSTRAINT [FK_TransactionProducts_Transactions] FOREIGN KEY([TransactionId])
REFERENCES [Transactions].[Transactions] ([Id])
GO
ALTER TABLE [Transactions].[TransactionProducts] CHECK CONSTRAINT [FK_TransactionProducts_Transactions]
GO
ALTER TABLE [Transactions].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_TransactionTypes] FOREIGN KEY([TransactionTypeId])
REFERENCES [Transactions].[TransactionTypes] ([Id])
GO
ALTER TABLE [Transactions].[Transactions] CHECK CONSTRAINT [FK_Transactions_TransactionTypes]
GO
/****** Object:  StoredProcedure [Products].[sp_CategoriesList]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Listado de las categorias de 
--				productos
-- =============================================
CREATE PROCEDURE [Products].[sp_CategoriesList] 
	
AS
BEGIN
	SELECT Id,Name,CreatedAt,UpdatedAt  
	FROM Products.ProductCategories
	WHERE Deleted=0

END
GO
/****** Object:  StoredProcedure [Products].[sp_ProductsCreate]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Crear productos
-- =============================================
CREATE PROCEDURE [Products].[sp_ProductsCreate] 
	@Name varchar(500),
	@Description varchar(500),
	@Image varchar(MAX),
	@Price numeric(18,2),
	@Stock int,
	@CategoryId int 
AS
BEGIN
	DECLARE @msg varchar (500)
	BEGIN TRY   
		IF EXISTS (SELECT * FROM Products.ProductCategories where Id=@CategoryId AND Deleted=0)
		BEGIN  
			INSERT INTO Products.Products
				 (Name, Description, Image, Price, Stock, CategoryId, CreatedAt, UpdatedAt, Deleted)
			VALUES (@Name,@Description,@Image,@Price,@Stock,@CategoryId,GETDATE(),GETDATE(),0)
			SET @msg = 'OK, producto - '+ @Name +' - registrado con éxito.' 
		END
		ELSE
		BEGIN 
			SET @msg = 'Error: categoría no encontrada.'
		END 
	END TRY
	BEGIN CATCH   
		SET @msg = 'Error: inténtelo más tarde.'
	END CATCH;
	
	SELECT @msg AS msg
END
GO
/****** Object:  StoredProcedure [Products].[sp_ProductsDelete]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Eliminar productos
-- =============================================
CREATE PROCEDURE [Products].[sp_ProductsDelete]
	@Id int
AS
BEGIN
	DECLARE @msg varchar (500)
	BEGIN TRY   
		IF EXISTS (SELECT * FROM Products.Products where Id=@Id AND Deleted=0)
		BEGIN  
			UPDATE Products.Products
			SET Deleted=1,UpdatedAt = GETDATE()
			WHERE Id=@Id
			
			SET @msg = 'OK, producto eliminado con éxito.' 
			
		END
		ELSE
		BEGIN 
			SET @msg = 'Error: producto no encontrado.'
		END 
	END TRY
	BEGIN CATCH   
		SET @msg = 'Error: inténtelo más tarde.'
	END CATCH;
	
	SELECT @msg AS msg
END
GO
/****** Object:  StoredProcedure [Products].[sp_ProductsList]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Listado de los productos
-- =============================================
CREATE PROCEDURE [Products].[sp_ProductsList] 
	
AS
BEGIN
	SELECT a.Id,a.Name,a.Description,a.Image,a.Price,a.Stock,a.CategoryId,b.Name as CategoryName,a.CreatedAt,a.UpdatedAt,b.CreatedAt AS CreatedAtCategory,b.UpdatedAt AS UpdatedAtCategory  
	FROM Products.Products AS a INNER JOIN
	Products.ProductCategories AS b ON a.CategoryId=b.Id
	WHERE a.Deleted=0

END
GO
/****** Object:  StoredProcedure [Products].[sp_ProductsModify]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Modificar productos
-- =============================================
CREATE PROCEDURE [Products].[sp_ProductsModify] 
	@Name varchar(500),
	@Description varchar(500),
	@Image varchar(MAX),
	@Price numeric(18,2),
	@Stock int,
	@CategoryId int,
	@Id int
AS
BEGIN
	DECLARE @msg varchar (500)
	BEGIN TRY   
		IF EXISTS (SELECT * FROM Products.Products where Id=@Id AND Deleted=0)
		BEGIN  
			IF EXISTS (SELECT * FROM Products.ProductCategories where Id=@CategoryId AND Deleted=0)
			BEGIN
				UPDATE Products.Products
				SET	Name = @Name, Description = @Description, Image = @Image, Price = @Price, Stock = @Stock, CategoryId = @CategoryId,UpdatedAt = GETDATE()
				WHERE Id=@Id
			
				SET @msg = 'OK, producto - '+ @Name +' - modificado con éxito.' 
			END
			ELSE
			BEGIN
				SET @msg = 'Error: categoría no encontrada.'
			END
			
		END
		ELSE
		BEGIN 
			SET @msg = 'Error: producto no encontrado.'
		END 
	END TRY
	BEGIN CATCH   
		SET @msg = 'Error: inténtelo más tarde.'
	END CATCH;
	
	SELECT @msg AS msg
END
GO
/****** Object:  StoredProcedure [Products].[sp_ProductStock]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Actualizar stock de productos
-- =============================================
CREATE PROCEDURE [Products].[sp_ProductStock] 
	@Id int,
	@Quantity int
AS
BEGIN
	DECLARE @msg varchar (500)
	BEGIN TRY   
		IF EXISTS (SELECT * FROM Products.Products where Id=@Id AND Deleted=0)
		BEGIN  
			IF (SELECT top(1) Stock FROM Products.Products where Id=@Id AND Deleted=0)+ @Quantity>= 0
			BEGIN
				UPDATE Products.Products
				SET	Stock = Stock + @Quantity,UpdatedAt = GETDATE()
				WHERE Id=@Id
			
				SET @msg = 'OK, stock modificado con éxito.' 
			END
			ELSE
			BEGIN
				SET @msg = 'Error: stock insufuciente.'
			END
			
		END
		ELSE
		BEGIN 
			SET @msg = 'Error: producto no encontrado.'
		END 
	END TRY
	BEGIN CATCH   
		SET @msg = 'Error: inténtelo más tarde.'
	END CATCH;
	
	SELECT @msg AS msg
END
GO
/****** Object:  StoredProcedure [Transactions].[sp_TransactionDetail]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Detalle de la transacción
-- =============================================
CREATE PROCEDURE [Transactions].[sp_TransactionDetail] 
	@Id int
AS
BEGIN
	SELECT a.Id,a.Date,a.TransactionTypeId,a.TotalPrice,a.Detail,a.CreatedAt,a.UpdatedAt,
	a.TransactionTypeId,b.Name,b.CreatedAt AS CreatedAtType,b.UpdatedAt AS UpdatedAtType 
	FROM Transactions.Transactions AS a INNER JOIN
	Transactions.TransactionTypes AS b on a.TransactionTypeId=b.Id
	WHERE a.Id=@Id AND a.Deleted=0

END
GO
/****** Object:  StoredProcedure [Transactions].[sp_TransactionProductCreate]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Creación de la transacción
-- =============================================
CREATE PROCEDURE [Transactions].[sp_TransactionProductCreate] 
	@TransactionId int,
	@ProductId int,
	@ProductName varchar(500),
	@Quantity int,
	@UnitPrice numeric(18,2),
	@TotalPrice numeric(18,2)

AS
BEGIN
DECLARE @msg varchar(500)
	BEGIN TRY   
		INSERT INTO Transactions.TransactionProducts
			(TransactionId,ProductId,ProductName,Quantity,UnitPrice,TotalPrice,CreatedAt, UpdatedAt,Deleted)
		VALUES (@TransactionId,@ProductId,@ProductName,@Quantity,@UnitPrice,@TotalPrice,GETDATE(),GETDATE(),0)
		SET @msg = 'Ok producto agregado.'
	END TRY
	BEGIN CATCH   
		SET @msg = 'Error al registrar producto.'
	END CATCH;
	
	SELECT @msg AS msg

END
GO
/****** Object:  StoredProcedure [Transactions].[sp_TransactionProductsList]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Listado de productos de la transacción
-- =============================================
CREATE PROCEDURE [Transactions].[sp_TransactionProductsList] 
	@TransactionId int
AS
BEGIN
	SELECT Id,TransactionId,ProductId,ProductName,Quantity,UnitPrice,TotalPrice,CreatedAt,UpdatedAt
	FROM Transactions.TransactionProducts
	WHERE TransactionId=@TransactionId AND Deleted=0

END
GO
/****** Object:  StoredProcedure [Transactions].[sp_TransactionsCreate]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Creación de la transacción
-- =============================================
CREATE PROCEDURE [Transactions].[sp_TransactionsCreate] 
	@Date datetime,
	@TransactionTypeId int,
	@TotalPrice numeric(18,2),
	@Detail varchar(MAX)

AS
BEGIN
DECLARE @msg int
	BEGIN TRY   
		INSERT INTO Transactions.Transactions
			(Date, TransactionTypeId, TotalPrice, Detail,CreatedAt, UpdatedAt,Deleted)
		VALUES (@Date,@TransactionTypeId,@TotalPrice,@Detail,GETDATE(),GETDATE(),0)
		SET @msg = SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH   
		SET @msg = 0
	END CATCH;
	
	SELECT @msg AS msg

END
GO
/****** Object:  StoredProcedure [Transactions].[sp_TransactionsDelete]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Eliminar la transacción
-- =============================================
CREATE PROCEDURE [Transactions].[sp_TransactionsDelete] 
	@Id int

AS
BEGIN
DECLARE @msg varchar(500)
	BEGIN TRY   
		IF EXISTS (SELECT * FROM Transactions.Transactions where Id=@Id AND Deleted=0)
		BEGIN  
			UPDATE Transactions.Transactions
			SET   Deleted = 1, UpdatedAt =GETDATE()
			WHERE Id=@Id

			UPDATE Transactions.TransactionProducts
			SET   Deleted = 1, UpdatedAt =GETDATE()
			WHERE TransactionId=@Id

			SET @msg = 'Ok: Transación eliminada con éxito.'
		END
		ELSE
		BEGIN
			SET @msg = 'Error: transacción no encontrada.'
		END
	END TRY
	BEGIN CATCH   
		SET @msg = 'Error: inténtelo más tarde.'
	END CATCH;
	
	SELECT @msg AS msg

END
GO
/****** Object:  StoredProcedure [Transactions].[sp_TransactionsList]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Listado de las transacciones
-- =============================================
CREATE PROCEDURE [Transactions].[sp_TransactionsList] 
	
AS
BEGIN
	SELECT a.Id,a.Date,a.TransactionTypeId,a.TotalPrice,a.Detail,a.CreatedAt,a.UpdatedAt,
	a.TransactionTypeId,b.Name,b.CreatedAt AS CreatedAtType,b.UpdatedAt AS UpdatedAtType 
	FROM Transactions.Transactions AS a INNER JOIN
	Transactions.TransactionTypes AS b on a.TransactionTypeId=b.Id
	WHERE a.Deleted=0

END
GO
/****** Object:  StoredProcedure [Transactions].[sp_TransactionsModify]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Modificar la transacción
-- =============================================
CREATE PROCEDURE [Transactions].[sp_TransactionsModify] 
	@Date datetime,
	@TransactionTypeId int,
	@TotalPrice numeric(18,2),
	@Detail varchar(MAX),
	@Id int

AS
BEGIN
DECLARE @msg varchar(500)
	BEGIN TRY   
		IF EXISTS (SELECT * FROM Transactions.Transactions where Id=@Id AND Deleted=0)
		BEGIN  
			IF EXISTS (SELECT * FROM Transactions.TransactionTypes where Id=@TransactionTypeId AND Deleted=0)
			BEGIN  
				UPDATE Transactions.Transactions
				SET       Date = @Date, TransactionTypeId =@TransactionTypeId , Detail = @Detail, UpdatedAt =GETDATE()
				WHERE Id=@Id
				SET @msg = 'Ok: Transación modificada con éxito.'
			END
			ELSE
			BEGIN
				SET @msg = 'Error: Tipo de transacción no encontrada (1.Compra 2.Venta).'
			END
		END
		ELSE
		BEGIN
			SET @msg = 'Error: transacción no encontrada.'
		END
	END TRY
	BEGIN CATCH   
		SET @msg = 'Error: inténtelo más tarde.'
	END CATCH;
	
	SELECT @msg AS msg

END
GO
/****** Object:  StoredProcedure [Transactions].[sp_TransactionTypesList]    Script Date: 04/08/2025 11:30:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jonathan Carranza
-- Create date: 2025-07-31
-- Description:	Listado de los tipos de 
--				transacción
-- =============================================
CREATE PROCEDURE [Transactions].[sp_TransactionTypesList] 
	
AS
BEGIN
	SELECT Id,Name,CreatedAt,UpdatedAt  
	FROM Transactions.TransactionTypes
	WHERE Deleted=0

END
GO
USE [master]
GO
